form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  