/* FeedPage.css */
.feed-page {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; /* Allow content to fill remaining vertical space */
    /* width: 80%; */
    margin: 20px auto; /* Center content horizontally */
  }
  
  .left-sidebar,
  .right-sidebar {
    width: 48%;
  }
  
  .left-sidebar {
    margin-right: 20%;
  }
  
  .right-sidebar {
    margin-left: 20%;
  }
  