
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer button {
    margin: 0 5px;
  }
  