.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
  }
  
  .header input {
    margin-right: 10px;
  }
  
  .header button {
    margin-right: 10px;
  }
  