body {
  margin: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5; /* Set your desired background color */
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff; /* Set your desired form background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-data {
  margin-top: 20px;
}

.error-message {
  margin-top: 10px;
  color: red;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-link {
  text-decoration: none;
}
